
<!-- Card -->
<div class="card mx-auto"  style="width: 35%; margin:150px; padding: 5px 20px 10px 20px;">
  
      <!-- Card body -->
      <div class="card-body">

          <!-- Material form register -->
          <form>

                <div class="shadow-box-example z-depth-2 flex-center" style="height: 60px; background-color: #82b1ff; border-radius: 3px;">
                        <h4 style="color: #ffffff; padding-top: 5px;">CADASTRE-SE</h4>
                </div>

              <!-- Material input text -->
              <div class="md-form"  style="margin-top: 4em;"> 
                  <i class="fa fa-user prefix grey-text"></i>
                  <input type="text" id="nome" class="form-control">
                  <label for="materialFormCardNameEx" class="font-weight-light">Nome</label>
              </div>
  
              <!-- Material input email -->
              <div class="md-form">
                  <i class="fa fa-envelope prefix grey-text"></i>
                  <input type="email" id="email" class="form-control">
                  <label for="materialFormCardEmailEx" class="font-weight-light">E-mail</label>
              </div>
  
              <!-- Material input email -->
              <div class="md-form">
                  <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                  <input type="email" id="confirmaEmail" class="form-control">
                  <label for="materialFormCardConfirmEx" class="font-weight-light">Confirme seu e-mail</label>
              </div>
  
              <!-- Material input password -->
              <div class="md-form">
                  <i class="fa fa-lock prefix grey-text"></i>
                  <input type="password" id="senha" class="form-control">
                  <label for="materialFormCardPasswordEx" class="font-weight-light">Senha</label>
              </div>
  
              <div class="text-center py-4 mt-3">
                  <button class="btn btn-light-blue waves-effect waves-light" type="submit">Cadastrar</button>
              </div>
          </form>
          <!-- Material form register -->
  
      </div>
      <!-- Card body -->
  
  </div>
  <!-- Card -->
                        