<div style="background-color: #eeeeee; width:100%; height:10px;"></div>
<div class="container" style="width: 90%;  margin-top: 8em; margin-bottom: 3em;" >
  <h4><b>Solicitação 6</b></h4>
  <h5>Categoria: Pintura</h5>

  <div class="row " style="padding:10px; text-align: center;margin-top: 2em;">

    <!--First slide-->


        <div class="col-6 col-xl-4 d-inline-block" style="width: 280px;">
            <div class="card mb-2">
                <br>
                <div class="avatar mx-auto white">
                    <img class="rounded-circle img-fluid" src="http://www.guarulhos.sp.gov.br/sites/default/files/secretarias/educacao/Messias.jpg" alt="Card image cap"  style="width:140px !important; height: 140px!important; object-fit: cover;"> 
                </div>
                <!-- Button -->
                
                <div class="card-body">
                    <h4 class="card-title">Cláudio Pereira</h4>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-full" aria-hidden="true"></i> 4,5
                    <p><i>"Ótimo profissional! Sempre muito atento e com preço muito justo pelo seu trabalho."</i> - Juliana Pontes </p>
                    <hr>
                    <p style="font-size: 23px;">R$ 200,00</p>                           
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-4 d-inline-block" style="width: 280px;">
            <div class="card mb-2">
                    <br>
                    <div class="avatar mx-auto white" >
                            <img class="rounded-circle img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoT0pSspCO7Wf-fPfBuaYmHAkfj8qvrYDAXgEx1EJIVnVfssywhA" alt="Card image cap"  style="width:140px !important; height: 140px!important; object-fit: cover;"> 
                    </div>
                
                <div class="card-body">
                    <h4 class="card-title">Camila Andrade</h4>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i> 4,0
                    <p><i>"Sempre muito perfeccionista, faz seu trabalho da melhor maneira. Recomendo!"</i> - Silvia </p>
                    <hr>
                    <p style="font-size: 23px;">R$ 235,00</p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Detalhes</a>
                </div>

            </div>
        </div>

        <div class="col-6 col-xl-4 d-inline-block" style="width: 200px;">
            <div class="card mb-2">
                    <br>
                <div class="avatar mx-auto white">
                    <img class="rounded-circle img-fluid" src="https://noticias.up.pt/wp-content/uploads/2018/02/filipe_pereira_pessoa.jpg" alt="Card image cap"  style="width:140px !important; height: 140px!important; object-fit: cover;"> 
                </div>
                <div class="card-body">
                        <h4 class="card-title">Fabiano Alberto</h4>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-full" aria-hidden="true"></i> 4,3
                        <p><i>"Faz tudo conforme combinado, mas não é um profissional com muito cuidado no que faz."</i> - Renato Junior </p>
                        <hr>
                    <p style="font-size: 23px;"><b>R$ 197,00</b></p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Detalhes</a>
                </div>

            </div>

        </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <br>
    <br>
    <div class="row " style="padding:10px; text-align: center;">
        <div class="col-6 col-xl-4 d-inline-block" style="width: 200px;">
            <div class="card mb-2">
                <br>
                    <div class="avatar mx-auto white">
                        <img class="rounded-circle img-fluid" src="https://noticias.up.pt/wp-content/uploads/2018/02/filipe_pereira_pessoa.jpg" alt="Card image cap"  style="width:140px !important; height: 140px!important; object-fit: cover;"> 
                    </div>
                <div class="card-body">
                    <h4 class="card-title">Guilherme Cunha</h4>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <hr>
                    <p style="font-size: 23px;">R$ 220,00</p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-4 clearfix d-none d-inline-block" style="width: 200px;">
            <div class="card mb-2" >
                    <br>
                <div class="avatar mx-auto white">
                    <img class="rounded-circle img-fluid" src="https://noticias.up.pt/wp-content/uploads/2018/02/filipe_pereira_pessoa.jpg" alt="Card image cap"  style="width:140px !important; height: 140px!important; object-fit: cover;"> 
                </div>
                <div class="card-body">
                    <h4 class="card-title">João Silva</h4>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-full" aria-hidden="true"></i>
                    <hr>
                    <p style="font-size: 23px;">R$ 150,00</p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-4 clearfix d-none d-inline-block" style="width: 300px;">
            <div class="card mb-2" >
                    <br>
                    <div class="avatar mx-auto white">
                        <img class="rounded-circle img-fluid" src="https://conteudo.imguol.com.br/c/entretenimento/f6/2017/03/15/nana-magalhaes-mulher-do-humorista-tiririca-1489609485706_v2_450x450.jpg" alt="Card image cap"  style="width:140px !important; height: 140px!important; object-fit: cover;"> 
                    </div>
                <div class="card-body">
                    <h4 class="card-title">Bruna Ferreira</h4>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-full" aria-hidden="true"></i>
                    <hr>
                    <p style="font-size: 23px;">R$ 230,00</p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Detalhes</a>
                </div>
            </div>
        </div>
    </div>



 </div>
  
  
        <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <b>Tempo estimado do serviço:</b> 3 horas <br>
                  <b>Material para realização:</b> Lata de tinta, rolo para pinta.
                  <b></b>
                  
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary">Escolher</button>
              </div>
          </div>
      </div>
  </div>