
<!-- Menu -->

<header>
  
   <!--Navbar-->
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse blue lighten-2" >
       <div class="container">
        <a class="navbar-brand" href="#"><img src="../../../assets/logos4.png" style="width: 90px;"></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item active">
                       <a class="nav-link waves-effect waves-light" href="#">Home<span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link waves-effect waves-light" href="#">Sobre</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link waves-effect waves-light" href="#">Como funciona</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link waves-effect waves-light" href="#">Contato</a>
                   </li>
               </ul>
               <form class="form-inline">
                   <div class="md-form mt-0">
                       <div class="waves-input-wrapper waves-effect waves-light"><input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"></div>
                   </div>
               </form>
           </div>
       </div>
   </nav>

</header>
<!-- Menu -->

<!-- Conteúdo -->


<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); height: 750px;">
    <div class="full-bg-img">
      <div class="mask rgba-white-light">
        <div class="container flex-center text-center">
          <div class="row mt-5">
            <div class="col-md-12 wow fadeIn mb-3">
              <img class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s"src="../../../assets/logos4.png" style="width: 300px;">
              <h5 class="text-uppercase mb-3 mt-1 font-weight-bold wow fadeIn" data-wow-delay="0.4s">O melhor site de prestação de serviços</h5>
              <a class="btn btn-light-blue btn-lg wow fadeIn" data-wow-delay="0.4s">portfolio</a> <a class="btn btn-indigo btn-lg wow fadeIn" data-wow-delay="0.4s">About me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Sobre -->
  
  <div class="container" style="padding: .5em; margin-top: 3em;">
    <h2 class="content-block-title"><span>Serviços</span></h2>
    <br><br>
    <div class="row">
        
            <!--Grid column-->
            <div class="col-md-4 text-center mb-3">
                <!--Featured image-->
                <div class="view overlay z-depth-1-half" style="margin-left:100px;">
                    <img src="http://l2hpainting.com/wp-content/uploads/2017/10/Exterior-Painters-in-Surrey-Langley-White-Rock-and-Maple-Ridge.jpg" class="img-fluid rounded" alt="First sample image">
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                <h3 class="mb-3 font-weight-bold dark-grey-text">
                    <strong>Reformas</strong>
                </h3>
                <p class="grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis
                    aut rerum.</p>
                 
            </div>
            <!--Grid column-->
    
        </div>
  
        <br>

  <div class="row">
    
        <!--Grid column-->
        <div class="col-md-4 text-center mb-3">
            <!--Featured image-->
            <div class="view overlay z-depth-1-half" style="margin-left:100px;">
                <img src="http://www.francoimoveis.net/blog/wp-content/uploads/2018/02/dicas-para-contratar-uma-diarista-ideal-1280x640.jpg" class="img-fluid rounded" alt="First sample image">
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Serviços Domésticos</strong>
            </h3>
            <p class="grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis
                aut rerum.</p>
        </div>
        <!--Grid column-->

    </div>
    <br>
    

    <div class="row">
        
            <!--Grid column-->
            <div class="col-md-4 text-center mb-3">
                <!--Featured image-->
                <div class="view overlay z-depth-1-half" style="margin-left:100px;">
                    <img src="http://www.maridodealugueljoinville.com.br/wp-content/uploads/2016/06/encanador-em-joinville.jpg" class="img-fluid rounded" alt="First sample image">
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                <h3 class="mb-3 font-weight-bold dark-grey-text">
                    <strong>Assistência Técnica</strong>
                </h3>
                <p class="grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis
                    aut rerum.</p>

            </div>
            <!--Grid column-->
    
        </div>
        <br>
</div>
  <!-- Sobre -->
  
  
   <!-- Catalogos -->
  
   <div class="container" style="padding: 50px; margin-top: 3em;">
     <div class="row">
        <div class="col-sm-12 col-md-6" style="text-align:center;">
        <div class="card" style="width: 100%; height: auto;min-height:300px;">
            <div class="card-body">
                <h3 class="card-title text-center">CLIENTE</h3>
                <p class="card-text" style="font-size: 17px; text-align: left;padding-left:2em;">
                    - Solicite serviços<br>
                    - Receba orçamentos rapidamente<br>
                    - Escolha os melhores profissionais<br>
                    - Acompanhe o andamento das suas solicitações<br>
                    - Avalie os profissionais
                </p>
                <button class="btn btn-light-blue" routerLink="/login" >LOGIN</button>
                <button class="btn btn-light-blue" routerLink="/cadastrar-cliente">CADASTRE-SE</button>
              
              </div>
        </div>
      </div>
  
      <div class="col-sm-12 col-md-6" style="text-align:center;">
          <div class="card" style="width: 100%; height: auto;min-height:300px;">
              <div class="card-body">
                  <h3 class="card-title text-center">PROFISSIONAL</h3>
                    <p class="card-text" style="font-size: 17px; text-align: left;padding-left:2em;">
                        - Receba várias solicitações de serviço<br>
                        - Realize orçamentos rapidamente<br>
                        - Altere o valor do serviço, caso haja divergências<br>
                        - Histórico dos serviços realizados<br>
                        - Avalie seus clientes
                    </p>
                  <a href="#" class="btn btn-light-blue">LOGIN</a>
                  <a href="#" class="btn btn-light-blue" >CADASTRE-SE</a>
              </div>
          </div>
      </div>
    
     </div>
      
    </div>
   <!-- Catalogos -->


   <section id="how-it-works" class="content-block container" style="padding: 10px; margin-top: 5em; margin-bottom: 5em;">
        <h2 class="content-block-title"><span>Como funciona</span></h2>
        <br><br>
        <ul class="feature-list" style="display: flex">
          <li class="feature-item inline" align="center"  style=" margin:10px; display: inline;">
            <a href="/limpeza/contratar">        
                <img src="https://parafuzo-assets.s3.amazonaws.com/images/icon-schedule.gz.svg" class="feature-icon" alt="Agende online">
            </a>
            <h3 class="feature-title">Cadastre-se na plataforma</h3>
      
            Informe o seu nome, e-mail e senha. Feito isso, você poderá solicitar serviços.
        </li>


            <li class="feature-item " align="center" style=" margin: 10px; display: inline;">
                <img src="https://parafuzo-assets.s3.amazonaws.com/images/icon-tasker.gz.svg" class="feature-icon" alt="Conheça o profissional">
            
                <h3 class="feature-title">Solicite um serviço</h3>
            
                Informe detalhadamente o serviço a ser solicitado. Após confirmação, você poderá visualizar uma lista para acompanhamento da solicitação. 
            </li>

        
            <li class="feature-item" align="center" style=" margin: 10px; display: inline;">
                <img src="https://parafuzo-assets.s3.amazonaws.com/images/icon-payment.gz.svg" class="feature-icon" alt="Pagamento seguro">
            
                <h3 class="feature-title">Escolha o profissional</h3>
            
                Veja vários orçamentos para o serviço solicitado e escolha o profissional que você considera mais adequado para o trabalho.
            </li>

        </ul>
      
      
      </section>

<!-- Conteúdo -->