
<!-- Card -->
<div class="card mx-auto " style="width: 35%; margin:150px; padding: 5px 20px 15px 20px;">
  
  <!-- Card body -->
  <div class="card-body">

      <!-- Material form register -->
      <form>

        <div class="shadow-box-example z-depth-2 flex-center" style="height: 60px; background-color: #82b1ff; border-radius: 3px;">
            <h4 style="color: #ffffff; padding-top: 5px;">LOGIN</h4>
        </div>

          <!-- Material input email -->
          <div class="md-form" style="margin-top: 4em;">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="materialFormCardEmailEx" class="form-control">
              <label for="materialFormCardEmailEx" class="font-weight-light">E-mail</label>
          </div>


          <!-- Material input password -->
          <div class="md-form pb-3">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="materialFormCardPasswordEx" class="form-control">
              <label for="materialFormCardPasswordEx" class="font-weight-light">Senha</label>
          </div>

          <p class="font-small blue-text d-flex justify-content-end"><a href="#" class="blue-text ml-1">Esqueci minha senha?</a></p>

          <div class="text-center py-4 mt-3">
              <button class="btn btn-light-blue waves-effect waves-light" type="submit" routerLink="/cliente/solicitar-servico">Entrar</button>
          </div>
      </form>
      <!-- Material form register -->

  </div>
  <!-- Card body -->

</div>
<!-- Card -->


                    
          
